</div>
<footer>
    <li>Attributions: <a href="https://www.vecteezy.com/free-vector/mexico">Mexico Vectors by Vecteezy</a></li>
    <li>GitHub: <a href='https://github.com/madeleinemarie/Taco-Inquirer'>Link</a></li>
</footer>
</div>
</body>
</html>