<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='icon' href='/images/favicon.ico' type='image/x-icon'/ >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap" rel="stylesheet">
    <title>Taco Inquirer</title>
</head>
<body>
    <nav class='navbar-fixed-top'>
        <a href='/'>Taco Inquirer</a>  
        <li>
            <form class="form-inline search-bar-form" method="POST" action='/restaurants/search'>
                <div class="md-form search-bar-form search-bar">
                  <input class="form-control" type="text" name="search" placeholder="Search Restaurants" aria-label="Search">
                </div>
            </form>
        <% if (user) { %>
            <h4>Hi, <%= user.name.substring(0, user.name.indexOf(' '))%>!</h4>
            <a href="/logout">Log Out</a>      
        <% } else { %>
            <a href="/auth/google">Login with Google</a>  
        <% } %>
        </li>   
    </nav>
    <div class='page-container'>
        <div class='content-wrap'>