<%- include('../partials/header') %>
    <div class='container new-form'>
        <h1>Add a New Taco</h1>
        <form action="/restaurants/<%= restaurantId %>/tacos" method="POST">
            <div class="form-group">
                <label>Taco Name:</label>
                <input class='form-control' type="text" name="name">
                <small class="form-text text-muted">Please enter the name as it appears on the menu</small>
            </div>
            <div class="form-group">
                <label>Taco Description:</label>
                <input class='form-control' type="text" name="description">
                <small class="form-text text-muted">Ex: Pork carnitas topped with cilantro, onion, and guacamole</small>
            </div>
            <button type="submit" class='btn btn-blue'>Add</button>
        
        </form>
    </div>
<%- include('../partials/footer') %>
