:root {
  --color-A: #FBE8A6;
  --color-B: #FBC23B;
  --color-C: #303C6C;
  --color-D: #B4DFE5;
  --color-E: #E8EBF7;
}

body {
  font: 14px "Open Sans", Helvetica, sans-serif;
  padding-top: 7em;
}

/*******NAVIGATION BAR*********/

nav {
  font-size: 2em;
  padding: 1em;
  background-color: var(--color-C);
  color: black;

}

nav > li {
  float: right;
  list-style: none;
}

nav > li > a {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
}

nav > li > h4 {
  vertical-align: text-bottom;
  padding-right: 1em;
  color: white;
  font-family: 'Poppins', sans-serif;
}

nav > a {
  color: white;
  font-family: 'Poppins', sans-serif;
}

nav > a:hover {
  color: white;
  text-decoration: none;
}

nav > li > a:hover {
  color: white;
  text-decoration: none;
}

.search-bar-form {
  display: inline;
}

.search-bar {
  vertical-align: -0.2em;
  margin-right: 1em;
}

/*********RESTAURANT INDEX**********/

.index-banner-bg {
  background-image: url('/images/taco-pattern.svg');
  background-repeat: repeat;
  height: 20em;
  background-size: 50em 50em;
  opacity: 0.9;
  margin-bottom: 2em;
}

.index-banner {
  height: 20em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4em;
  margin-bottom: 2em;
}

.index-banner-add {
  background: white;
  padding: 1em 2em 2em 2em;
  height: 15em;
  text-align: center;
  border-radius: 0.4em;
  margin-left: 2em;
}

#index-banner-add-msg {
  margin-bottom: 1em;
}

.add-restaurant-btn {
  background-color: var(--color-B);
  border: 0.2em solid var(--color-B);
  border-radius: 0.3em;
  padding: 0.7em;
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}

.add-restaurant-btn:hover {
  background-color: var(--color-B);
  border: 0.2em solid var(--color-B);
  background: white;
  color: var(--color-B);
  text-decoration: none;
}

.index-banner-info {
  background: white;
  color: var(--color-C);
  font-weight: bold;
  border-radius: 0.4em;
  padding: 4.5em;
  height: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
}


#info-img {
  max-width: 8em;
  max-height: 8em;
  opacity: 0.8;
  margin-right: 2em;
}

.restaurant-list {
  padding-inline-start: 0px;
}

.restaurant-row {
  padding: 2em;
  list-style-type: none;
  background-color: var(--color-E);
}

.restaurant-row > h2, h4, p, a {
  display: inline;
} 

.restaurant-row > h4 {
  font-size: 1.2em; 
  vertical-align: super;
  padding-left: 1.5em;
}

.restaurant-details {
  float: right;
  vertical-align: baseline;
}

.restaurant-details > p, a {
  vertical-align: sub;
}

.see-tacos-btn {
  background-color: var(--color-C);
  border: 0.2em solid var(--color-C);
  border-radius: 0.3em;
  padding: 0.7em;
  margin-left: 2em;
  text-decoration: none;
  color: white;
}

.see-tacos-btn:hover {
  text-decoration: none;
  border: 0.2em solid var(--color-C);
  background: var(--color-E);
  color: var(--color-C)
}

/*******RESTAURANT SHOW PAGE*******/

.bi-arrow-left-circle-fill {
  vertical-align: -10%;
  margin-left: 2em;
}

.restaurant-header {
  width: 100%;
  background-image: url('/images/taco-pattern.svg');
  background-repeat: repeat;
  height: 20em;
  background-size: 50em 50em;
  opacity: 0.9;
  color: black;
  margin-bottom: 3em;
  padding: 2em;
}

.restaurant-header-info {
  text-align: center;
  padding: 1em;
  padding-bottom: 2em;
  background-color: white;
  max-width: 40em;
  border-radius: 0.3em;
}

.add-taco-btn {
  background-color: var(--color-C);
  border: 0.2em solid var(--color-C);
  border-radius: 0.3em;
  padding: 0.7em;
  text-decoration: none;
  color: white;
  margin-top: 1em;
}

.add-taco-btn:hover {
  text-decoration: none;
  border: 0.2em solid var(--color-C);
  background: white;
  color: var(--color-C)
}

.taco-columns {
  column-count: 2;
}

.taco-wrapper {
  break-inside: avoid;
  margin: 0em 1.5em 2em 1.5em;
}

.taco-header { 
  display: flex;
  margin-bottom: 1em;
} 

.taco-img {
  height: 15em;
  width: 15em;
  object-fit: cover;
  display: block;
  border-radius: 0.5em;
}

.taco-info {
  padding: 2em;
}

.review-box {
  background-color: var(--color-E);
  padding: 1em;
  margin-top: 1em;
  border-radius: 0.3em;
}

.reviews-label {
  vertical-align: -0.5em;
}

.add-review {
  float: right;
  background-color: var(--color-B);
  border: 0.2em solid var(--color-B);
  border-radius: 0.3em;
  padding: 0.2em 1.1em;
  text-decoration: none;
  color: white;
}

.add-review:hover {
  color: var(--color-B);
  background-color: white;
  border: 0.2em solid var(--color-B);
  font-weight: normal;
  text-decoration: none;
}

.inline-button {
  display: inline;
  border: none;
}

.svg-btn {
  border: none;
  background-color: white;
  padding: 0.3em 0.5em 0.4em 0.5em;
  border-radius: 0.3em;
  margin: 0.5em 0.2em 0.2em 0.2em;
}

#back-button {
  text-align: left;
  color: white;
  font-size: 1.1em;
  background-color: var(--color-C);
  border-radius: 0.3em;
  padding: 0.5em;
  padding-right: 2em;
  position: fixed;
}

#back-button:hover {
  text-decoration: none;
}

/******NEW FORM*******/

.new-form {
  margin-top: 2em;
  padding: 2em;
  max-width: 40em;
  background-color: var(--color-E);
  border-radius: 0.3em;
}

.new-form > h1 {
  text-align: center;
}

.btn-blue {
  background-color: var(--color-C);
  color: white;
  float: right;
  padding: 0.5em 2em;
  border: 0.2em solid var(--color-C)
}

.btn-blue:hover {
  background-color: var(--color-E);
  color: var(--color-C);
  float: right;
  padding: 0.5em 2em;
}

/******EDIT FORM*******/

.edit-form {
  margin-top: 2em;
  padding: 2em;
  max-width: 40em;
  background-color: var(--color-E);
  border-radius: 0.3em;
}

.edit-form > h1 {
  text-align: center;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 7em;
}

/******NOT FOUND SEARCH PAGE*******/

.not-found-card {
  text-align: center;
  max-width: 50em;
  margin-top: 2em;
  padding: 2em 2em 4em 2em;
  background-color: var(--color-E);
  border-radius: 0.3em;
}

.not-found-add {
  margin-top: 4em;
  background-color: var(--color-C);
  border: 0.2em solid var(--color-C);
  border-radius: 0.3em;
  padding: 0.7em 1.2em 0.7em 1.2em;
  text-decoration: none;
  color: white;
}

.not-found-add:hover {
  background-color: var(--color-E);
  border: 0.2em solid var(--color-C);
  text-decoration: none;
  color: var(--color-C);
}

#not-found-back {
  margin-top: 8em;
  background-color: var(--color-C);
  border: 0.2em solid var(--color-C);
  border-radius: 0.3em;
  padding: 0.7em 1.2em 0.7em 0em;
  text-decoration: none;
  color: white;
}

#not-found-back:hover {
  background-color: var(--color-E);
  border: 0.2em solid var(--color-C);
  text-decoration: none;
  color: var(--color-C);
}

/******FOOTER******/

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4em;
  text-align: center;
  background-color: var(--color-C);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  color: white;
}

footer > li {
  list-style: none;
  vertical-align: baseline;
  margin: 0em 3em;
}

footer > li > a{
  vertical-align: baseline;
  text-decoration: none;
  color: lightgoldenrodyellow;
}

footer > li > a:hover{
  text-decoration: none;
  color: white;
}


@media only screen and (max-width: 768px) {
  .index-banner-info {
    font-size: 0.3em;
    min-height: 40em;
  }
  .index-banner-add {
    height: 12em;
  }
  #index-banner-add-msg {
    font-size: 1.1em;

  }
  .add-restaurant-btn {
    font-size: 1em;
  }
  .restaurant-row > h4 {
    font-size: 1em;
    padding-left: 0.7em;
    vertical-align: 60%;
  }
}

