:root {
  --color-A: #FBE8A6;
  --color-B: #F4976C;
  --color-C: #303C6C;
  --color-D: #B4DFE5;
  --color-E: #E8EBF7;

}

body {
  font: 14px "Open Sans", Helvetica, sans-serif;
  padding-top: 7em;
}

/*******NAVIGATION BAR*********/
nav {
  font-size: 2em;
  padding: 1em;
  background-color: var(--color-C);
  color: black;

}

nav > li {
  float: right;
  list-style: none;
}

nav > li > a {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
}

nav > a {
  color: white;
  font-family: 'Poppins', sans-serif;
}

.bi-arrow-left-circle-fill {
  vertical-align: -10%;
  margin-left: 2em;
}


/*********RESTAURANT INDEX**********/

.index-banner-bg {
  background-image: url('/images/taco-pattern.svg');
  background-repeat: repeat;
  height: 20em;
  background-size: 50em 50em;
  opacity: 0.9;
  margin-bottom: 2em;
}

.index-banner {
  height: 20em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4em;
  margin-bottom: 2em;
}

.index-banner-add {
  background: white;
  padding: 2em;
  height: 15em;
  text-align: center;
  border-radius: 0.3em;
  margin-left: 2em;
}

.index-banner-info {
  background: white;
  border-radius: 0.3em;
  padding: 2em;
  height: 15em;
}

#taco-icon {
  max-width: 5em;
  max-height: 5em;
  transform: rotate(-20deg);
}

.restaurant-list {
  padding-inline-start: 0px;
}

.restaurant-row {
  padding: 2em;
  list-style-type: none;
  background-color: var(--color-E);
}

.restaurant-row > h2, h4, p, a {
  display: inline;
} 

.restaurant-row > h4 {
  font-size: 1.2em; 
  vertical-align: super;
  padding-left: 2em;
}

.restaurant-details {
  float: right;
  vertical-align: baseline;
}

.restaurant-details > p, a {
  vertical-align: sub;
}

.see-tacos-btn {
  background-color: var(--color-C);
  border: 0.2em solid var(--color-C);
  border-radius: 0.3em;
  padding: 0.7em;
  margin-left: 2em;
  text-decoration: none;
  color: white;
}

.see-tacos-btn:hover {
  text-decoration: none;
  border: 0.2em solid var(--color-C);
  background: white;
  color: var(--color-C)
}


/*******RESTAURANT SHOW PAGE*******/


.restaurant-header {
  width: 100%;
  background-image: url('/images/taco-pattern.svg');
  background-repeat: repeat;
  height: 20em;
  background-size: 50em 50em;
  opacity: 0.9;
  color: black;
  margin-bottom: 3em;
  padding: 2em;
}

.restaurant-header-info {
  text-align: center;
  padding: 1em;
  padding-bottom: 2em;
  background-color: white;
  max-width: 40em;
  border-radius: 0.3em;
}

.restaurant-header-info > h4{

  padding-bottom: 2em;

}

.add-taco-btn {
  background-color: var(--color-C);
  border: 0.2em solid var(--color-C);
  border-radius: 0.3em;
  padding: 0.7em;
  text-decoration: none;
  color: white;
  margin-top: 1em;
}

.add-taco-btn:hover {
  text-decoration: none;
  border: 0.2em solid var(--color-C);
  background: white;
  color: var(--color-C)
}

.taco-wrapper {
  margin-bottom: 2em;
}

.taco-header { 
  display: flex;
  margin-bottom: 1em;
} 

.taco-img {
  height: 15em;
  width: 15em;
  object-fit: cover;
  display: block;
  border-radius: 0.5em;
}

.taco-info {
  padding: 2em;
}

.review-box {
  background-color: var(--color-E);
  padding: 1em;
  margin: 1em 0em;
  border-radius: 0.5em;
}

.inline-button {
  display: inline;
}

#back-button {
  text-align: left;
  color: white;
  font-size: 1.5em;
  background-color: var(--color-C);
  border-radius: 0.3em;
  padding: 0.5em;
  padding-right: 2.5em;
}

#back-button:hover {
  text-decoration: none;
}
