<%- include('../partials/header') %>
    <h1>Edit Review</h1>
    <form action="/restaurants/<%= restaurantId %>/tacos/<%= tacoId %>/reviews/<%= reviewId %>?_method=PUT" method="POST">
        <label>Review:</label>
            <input type="text" name="comment">
        <input type="submit" value="Post Review">
    </form>
</body>
</html>
