<%- include('../partials/header') %>
    <div class="container edit-form">
        <h1>Write a Review</h1>
        <form action="/restaurants/<%= restaurantId %>/tacos/<%= tacoId %>/reviews/" method="POST">
            <div class='form-group'>
                <textarea class='form-control' rows='4' name='comment'></textarea>
            </div>
            <input type="submit" class='btn btn-blue' value="Post Review">
        </form>
    </div>    
<%- include('../partials/footer') %>
