<%- include('../partials/header') %>
    <a href='restaurants/new'>Add a Restaurant</a>
<h1>List of Restaurants:</h1>
    <% restaurants.forEach(function(r) { %>
      <p><%= r.name %></p>
      <p><%= r.neighborhood %></p>
      <a href='/restaurants/<%= r._id %>'>See Tacos</a>
    <% }); %>
  </body>
</html>
