<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <title>Document</title>
</head>
<body>
    <nav>
        <a href='/'>Taco Inquirer</a>
    </nav>
    <h1>New Restaurant</h1>
    <form id="new-form" action="/restaurants" method="POST">
        <label>Restaurant Name:</label>
            <input type="text" name="name">
        <label>Neighborhood (optional):</label>
            <input type="text" name="neighborhood">
        <input type="submit" value="Add">
    </form>
</body>
</html>
