<%- include('../partials/header') %>
    <h1>New Restaurant</h1>
    <form action="/restaurants" method="POST">
        <label>Restaurant Name:</label>
            <input type="text" name="name">
        <label>Neighborhood (optional):</label>
            <input type="text" name="neighborhood">
        <input type="submit" value="Add">
    </form>
</body>
</html>
